/***************************NULL-STYLE****************************/
@import url("nullstyle.css");
/***************************MAIN****************************/
.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  align-items: center;

  min-width: 300px;
}
.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 1;
  background: url("../assets/image/fon.jpg") center / cover no-repeat;
  z-index: -1;
}
.container {
  padding: 0px 20px;
  margin: 0 auto;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 60px;
  color: rgb(9, 244, 205);
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin: 0px 0px 20px 0px;
}
/***************************PLAY MELODY BTN****************************/
.play__melody {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  max-width: 200px;
}
.play__melody-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 10%;
  margin: 0px 20px;

  border: 3px solid rgb(9, 244, 205);
  transform: scale(1);
  transition: all 0.2s ease 0s;

  cursor: pointer;
}
.play__melody-img img {
  max-width: 90%;
  max-height: 90%;
}
.play__melody-img-active {
  border: 3px solid rgb(241, 10, 172);
}
h2 {
  color: rgb(9, 244, 205);
  font-size: 20px;
}
/***************************INSTRUMENT TYPE****************************/

.instrumet__type {
  display: flex;
  justify-content: center;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 10%;
  margin: 0px 20px;

  border: 3px solid rgb(19, 230, 245);
  transform: scale(1);
  transition: all 0.2s ease 0s;

  cursor: pointer;
}
.btn img {
  max-width: 90%;
  max-height: 90%;
}
.active-instrument {
  border: 3px solid rgb(241, 10, 172);
  transform: scale(1.1);
  transition: all 0.2s ease 0s;
}
/***************************INSTRUMENT KEYS****************************/
.instrumental__keys {
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
}
.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(0, 216, 0);
  border-radius: 10%;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  height: 150px;
  width: 120px;

  transform: scale(1);
  transition: all 0.1s ease 0s;
  cursor: pointer;
}

.active {
  color: rgb(241, 10, 172);
  transform: scale(1.2);
  font-size: 24px;
  box-shadow: 0 0 20px rgb(24, 243, 24);
  text-shadow: 0 0 10px rgb(241, 10, 172);

  border: 3px solid rgb(0, 216, 0);
  transition: all 0.1s ease 0s;
}

.key__letter {
  margin: 0px 0px 10px 0px;
}
.sound__description {
  color: gold;
}
/***************************MEDIA QUERIES****************************/
@media (max-width: 1400px) {
  h1 {
    font-size: 45px;
  }
  .play__melody-img {
    height: 50px;
    width: 50px;
  }
  .btn {
    height: 50px;
    width: 50px;
    margin: 0px 15px;
  }

  .key {
    font-size: 16px;
    height: 120px;
    width: 90px;
  }

  .active {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .play__melody {
    flex-direction: row;
  }
  .play__melody-img {
    height: 40px;
    width: 40px;
    margin: 0px 10px;
  }
  h2 {
    font-size: 15px;
    margin: 0px 0px 5px 0px;
  }
  .btn {
    height: 40px;
    width: 40px;
    margin: 0px 10px;
  }

  .key {
    font-size: 12px;
    height: 70px;
    width: 60px;
  }
  .active {
    font-size: 14px;
  }
}
@media (max-width: 440px) {
  .play__melody {
    flex-direction: row;
    max-width: 100px;
  }
  .play__melody-img {
    height: 30px;
    width: 30px;
  }

  h2 {
    display: none;
  }
  h1 {
    font-size: 30px;
  }
}
